.env
.vscode
.streamlit
*.log
__pycache__
*.pyc
*.pyo
*.pyd
/clingo_workspace
/vampire_workspace
/z3_workspace
/output_system1
/output_switcher
/output_mcp
/output_selector
/output_system2
/output_nesygma
/scratch